<header>
  <h1>
    <img src="/images/header/profile.jpg" alt="Profile Picture" />
    Mustafa Kalash
  </h1>
  <nav>
    <menu>
      <li><button routerLink="/home" routerLinkActive="active">Home</button></li>
      <li><button routerLink="/about" routerLinkActive="active">About</button></li>
      <li><button routerLink="/projects" routerLinkActive="active">Projects</button></li>
      <li><button routerLink="/contact" routerLinkActive="active">Contact</button></li>
    </menu>
  </nav>
</header>
