<header>
  <h1>
    <img src="/images/header/profile.jpg" alt="Profile Picture" />
    Mustafa Kalash
  </h1>
  <nav>
    <menu>
      <li>
        <button routerLink="/home" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'home']" alt="Home"></fa-icon>
          <span class="navText">Home</span>
        </button>
      </li>
      <li>
        <button routerLink="/about" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'vcard']" alt="About"></fa-icon>
          <span class="navText">About</span>
        </button>
      </li>
      <li>
        <button routerLink="/projects" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'folder']" alt="Folder"></fa-icon>
          <span class="navText">Projects</span>
        </button>
      </li>
      <li>
        <button routerLink="/contact" routerLinkActive="active">
          <fa-icon [icon]="['fas', 'envelope']" alt="Contact"></fa-icon>
          <span class="navText">Contact</span>
        </button>
      </li>
    </menu>
  </nav>
</header>
