:host footer {
  background: var(--dark-green);
  display: flex;
  padding: 10px 15%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

app-links {
  gap: 5px;
  font-size: 1.5em;
}
