:host footer {
  background: var(--dark-green);
  display: flex;
  padding: 10px 15%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.links {
  display: flex;
  gap: 5px;
}

.links a, .links a:visited {
  color: var(--light-blue);
  text-decoration: none;
  font-size: 1.5em;
}

.links a:hover {
  color: var(--dark-blue);
}
