<h1>About Me</h1>
<p>My name is Mustafa Kalash and I am passionate about <strong>software, education, engineering</strong>... and <strong>fun</strong></p>

<h2>My Story</h2>
<p>
  I am a first-generation American, the son of a Syrian immigrant. Growing up stuck between two cultures has taught me a lot about
  empathy and the benefits of diversity. One thing I've always loved to do is solve problems, so
  at a young age, I found joy in learning programming, starting with web development and Java. In
  high school, I joined a competition engineering team which competed in trebuchets, robotics, and the
  All-American Soapbox Derby. This club would set me on the path to where I am now. Through it, I learned
  design, manufacturing, mechanics, and C++. But I also grew through teamwork and adversity. With that team I found
  a home, but for longer than I could have thought.
</p>
<p>
  At The Ohio State University, I began my undergraduate studies, majoring in Computer Science and Engineering. Meanwhile,
  I continued to work with the team as an Assistant Coach. I also started teaching for a non-profit called TECH CORPS,
  which sought to bring technology education to underprivileged students. Through these opportunities, I discovered my love
  for education, leading to a change in major to Career-Technical Education, which I earned my degree in after 3 years.
  Soon after, I began teaching at Pickerington High School Central, the same place I attended. My subjects include computer science,
  cybersecurity, engineering, construction, robotics, and other technology courses. There, I  also became head coach of the club, and lead
  the team through many accomplishments, including world championships. While there, I completed my Master's in Classroom Technology
  with a concentration in computer science from Bowling Green State University. Eventually, I emerged as a leader, and became the head
  of my department, which is where I am today.
</p>
<button routerLink="/projects">See what I've done</button>

<h2>My Education</h2>
<h3>Bowling Green State University</h3>
<h4>Master's in Education, Classroom Technology</h4>
<time>May 2021 - Aug 2022</time>
<p>
    Through the Classroom Technology program, I explored in depth (including practicum) computer science, information
  technology, web development, human subject research (including certification and working with an IRB), data analysis,
  accessibility, leadership, and training to the ISTE-C standards. I had many opportunities to lead professional
  development, conduct research, and publish in the program&#39;s periodical As a capstone project, I created an educational
  programming game for use in a research assignment.
</p>

<h3>The Ohio State University</h3>
<h4>Bachelor's in Education, Career-Technical Education</h4>
<time>Aug 2015 - May 2018</time>
<p>
  Career and Technical Education is the practice of training children and adults in vocational fields to become career
  ready, including content and employability training as well as how to find and utilize available resources to achieve
  gainful employment. This program was designed for people who already have content expertise, so it focused on developing
  pedagogy and specific state and federal compliance requirements for a Career-Technical Education program. Before
  switching to this major, I completed three semesters of work towards a Computer Science and Engineering degree.
</p>

<h4>Associate of Arts</h4>
<time>Aug 2015 - May 2017</time>
<p>
  I received this associate's degree for completing additional general education requirements while I was a pre-major in
  Computer Science and Engineering at a regional campus.
</p>

<h2>My Experience</h2>
<h3>Pickerington High School Central</h3>
<h4>Technology Education Teacher & Department Head</h4>
<time>Aug 2019 - Present</time>
<p>
  I have taught a wide variety of career and technical subjects; including college-level computer science, cybersecurity,
  engineering, drafting, electronics, manufacturing, video production, and construction. As an extra duty, I assist our
  Classroom Technology and IT staff by assisting students and staff with devices by troubleshooting, repairing (hardware
  and software), training, intaking, and managing tickets. Additionally, as a department head, I lead by writing policies,
  planning and implementing professional development, writing budgets and approving purchases, and receiving input from
  and advocating for my team. I also serve on our diversity, equity, and inclusion committee and the subcommittee for equity auditing.
</p>

<h4>Engineering Club Coach</h4>
<time>May 2015 - Nov 2023</time>
<p>
  This club participates in events from VEX Robotics, the International Soap Box Derby, and local “pumpkin chuckin&#39;”
  competitions. As coach, I taught and guided students real-world work in computer science, engineering, problem solving,
  SEL, and employability. I also managed all of the logistics, including budgets, trips, and supplies. Additionally, I
  stood out as a leader and supported the community by helping other coaches and volunteering outside of my own teams,
  including for state championship events.
</p>

<h4>Math Tutor</h4>
<time>Feb 2019 - May 2019</time>
<p>
  In this half time position, I facilitated Algebra 1 and Geometry credit recovery courses by providing instruction and
  support as students worked through an online, student-driven curriculum and proctoring their tests.
</p>

<h3>TECH CORPS</h3>
<h4>Instructor</h4>
<time>Feb 2019 - May 2019</time>
<p>
  TECH CORPS is a non-profit organization dedicated to bringing employability and STEM education to students who do not
  normally have access to such resources, especially those who come from lower socioeconomic backgrounds and
  underrepresented groups. I have taught courses that range from after school workshops to full time summer internship
  programs with subjects including web development, robotics, 3D printing, and app development.
</p>

<h3>Fairfield County Educational Service Center</h3>
<h4>Substitute Teacher</h4>
<time>Aug 2018 - May 2019</time>
<p>
  As a substitute teacher, I had to learn to drop into a completely unfamiliar environment, manage students I did not
  know, and teach concepts that I had not seen until an hour before the class. It was a crash course in adaptability and
  working well in high-stress situations.
</p>

<h2>My Skills</h2>
<ul>
  <li>Software Development</li>
  <li>C#</li>
  <li>.NET</li>
  <li>Java</li>
  <li>JavaScript</li>
  <li>TypeScript</li>
  <li>Angular</li>
  <li>Node.js</li>
  <li>HTML</li>
  <li>CSS</li>
  <li>Python</li>
  <li>C++</li>
  <li>SQL</li>
  <li>Information Technology</li>
  <li>Cybersecurity</li>
  <li>Leadership</li>
  <li>Professional development/training</li>
  <li>Policy writing</li>
  <li>Instructional Design</li>
  <li>Education</li>
  <li>Organization/communication</li>
  <li>Administration</li>
  <li>Research</li>
  <li>Outreach</li>
  <li>Learning Management Systems</li>
  <li>Microsoft Office/365</li>
  <li>Adobe Creative Cloud</li>
  <li>Customer Service</li>
</ul>
