<h1>About Me</h1>
<p>My name is Mustafa Kalash and I am passionate about <strong>software, education, engineering</strong>... and <strong>fun</strong>.</p>

<h2>My Story</h2>
<p>
  I am a first-generation American, the son of a <strong>Syrian</strong> immigrant. Growing up stuck between two cultures has taught me a lot about
  <strong>empathy</strong> and the benefits of <strong>diversity</strong>. One thing I've always loved to do is <strong>solve problems</strong>, so
  at a young age, I found joy in learning <strong>programming</strong>, starting with <strong>web development</strong> and <strong>Java</strong>. In
  high school, I joined a competition <strong>engineering</strong> team which competed in <strong>trebuchets, robotics,</strong> and the
  <strong>All-American Soapbox Derby</strong>. This club would set me on the path to where I am now. Through it, I learned
  <strong>design, manufacturing, mechanics, and C++</strong>. But I also grew through <strong>teamwork and adversity</strong>. With that team I found
  a home, but for longer than I could have thought.
</p>
<p>
  At <strong>The Ohio State University</strong>, I began my undergraduate studies, majoring in <strong>Computer Science and Engineering</strong>. Meanwhile,
  I continued to work with the team as an <strong>Assistant Coach</strong>. I also started teaching for a non-profit called <strong>TECH CORPS</strong>,
  which sought to bring <strong>technology education</strong> to <strong>underprivileged</strong> students. Through these opportunities, I discovered my love
  for <strong>education</strong>, leading to a change in major to <strong>Career-Technical Education</strong>, which I earned my degree in after 3 years.
  Soon after, I began teaching at <strong>Pickerington High School Central</strong>, the same place I attended. My subjects include <strong>computer science,
  cybersecurity, engineering, construction, robotics</strong>, and other technology courses. There, I  also became head coach of the club, and lead
  the team through many accomplishments, including <strong>world championships</strong>. While there, I completed my <strong>Master's in Classroom Technology</strong>
  with a concentration in <strong>computer science</strong> from <strong>Bowling Green State University</strong>. Eventually, I emerged as a leader, and became the <strong>head
  of my department</strong>, which is where I am today.
</p>
<button routerLink="/projects">See what I've done</button>

<h2>My Education</h2>
<h3>Bowling Green State University</h3>
<h4>Master's in Education, Classroom Technology</h4>
<time>May 2021 - Aug 2022</time>
<p>
    Through the Classroom Technology program, I explored in depth (including practicum) <strong>computer science, information
  technology, web development, human subject research</strong> (including certification and working with an <strong>IRB</strong>), <strong>data analysis,
  accessibility, leadership,</strong> and training to the <strong>ISTE-C standards</strong>. I had many opportunities to <strong>lead professional
  development, conduct research, and publish</strong> in the program&#39;s periodical As a capstone project, I created an <strong>educational
  programming game</strong> for use in a research assignment.
</p>

<h3>The Ohio State University</h3>
<h4>Bachelor's in Education, Career-Technical Education</h4>
<time>Aug 2015 - May 2018</time>
<p>
  <strong>Career and Technical Education</strong> is the practice of training children and adults in vocational fields to become career
  ready, including content and <strong>employability</strong> training as well as how to find and utilize available resources to achieve
  gainful employment. This program was designed for people who already have content expertise, so it focused on developing
  <strong>pedagogy</strong> and specific state and federal <strong>compliance</strong> requirements for a Career-Technical Education program. Before
  switching to this major, I completed three semesters of work towards a <strong>Computer Science and Engineering</strong> degree.
</p>

<h4>Associate of Arts</h4>
<time>Aug 2015 - May 2017</time>
<p>
  I received this associate's degree for completing <strong>additional general education requirements</strong> while I was a pre-major in
  <strong>Computer Science and Engineering</strong> at a regional campus.
</p>

<h2>My Experience</h2>
<h3>Pickerington High School Central</h3>
<h4>Technology Education Teacher & Department Head</h4>
<time>Aug 2019 - Present</time>
<p>
  I have taught a wide variety of career and technical subjects; including college-level <strong>computer science, cybersecurity,
  engineering, drafting, electronics, manufacturing, video production, and construction</strong>. As an extra duty, I assist our
  Classroom Technology and IT staff by assisting students and staff with devices by <strong>troubleshooting, repairing</strong> (hardware
  and software), <strong>training, intaking, and managing tickets</strong>. Additionally, as a <strong>department head</strong>, I lead by <strong>writing policies</strong>,
  planning and implementing <strong>professional development</strong>, writing <strong>budgets</strong> and approving purchases, and receiving input from
  and advocating for my team. I also serve on our <strong>diversity, equity, and inclusion committee</strong> and the subcommittee for equity auditing.
</p>

<h4>Engineering Club Coach</h4>
<time>May 2015 - Nov 2023</time>
<p>
  This club participates in events from <strong>VEX Robotics, the International Soap Box Derby</strong>, and local <strong>“pumpkin chuckin&#39;”</strong>
  competitions. As coach, I taught and guided students real-world work in <strong>computer science, engineering, problem solving,
  SEL, and employability</strong>. I also managed all of the logistics, including <strong>budgets, trips, and supplies</strong>. Additionally, I
  stood out as a <strong>leader</strong> and supported the community by helping other coaches and volunteering outside of my own teams,
  including for <strong>state championship events</strong>.
</p>

<h4>Math Tutor</h4>
<time>Feb 2019 - May 2019</time>
<p>
  In this half time position, I facilitated <strong>Algebra 1 and Geometry</strong> credit recovery courses by providing instruction and
  support as students worked through an online, student-driven curriculum and proctoring their tests.
</p>

<h3>TECH CORPS</h3>
<h4>Instructor</h4>
<time>Feb 2019 - May 2019</time>
<p>
  TECH CORPS is a non-profit organization dedicated to bringing <strong>employability and STEM education</strong> to students who do not
  normally have access to such resources, especially those who come from <strong>lower socioeconomic backgrounds</strong> and
  <strong>underrepresented groups</strong>. I have taught courses that range from after school <strong>workshops</strong> to full time summer <strong>internship
  programs</strong> with subjects including <strong>web development, robotics, 3D printing, and app development</strong>.
</p>

<h3>Fairfield County Educational Service Center</h3>
<h4>Substitute Teacher</h4>
<time>Aug 2018 - May 2019</time>
<p>
  As a substitute teacher, I had to learn to drop into a completely unfamiliar environment, manage students I did not
  know, and teach concepts that I had not seen until an hour before the class. It was a crash course in <strong>adaptability</strong> and
  working well in <strong>high-stress situations</strong>.
</p>

<h2>My skills</h2>
<ul>
  <li>Software Development</li>
  <li>C#</li>
  <li>.NET</li>
  <li>Java</li>
  <li>JavaScript</li>
  <li>TypeScript</li>
  <li>Angular</li>
  <li>Node.js</li>
  <li>HTML</li>
  <li>CSS</li>
  <li>Python</li>
  <li>C++</li>
  <li>SQL</li>
  <li>Information Technology</li>
  <li>Cybersecurity</li>
  <li>Leadership</li>
  <li>Professional development/training</li>
  <li>Policy writing</li>
  <li>Instructional Design</li>
  <li>Education</li>
  <li>Organization/communication</li>
  <li>Administration</li>
  <li>Research</li>
  <li>Outreach</li>
  <li>Learning Management Systems</li>
  <li>Microsoft Office/365</li>
  <li>Adobe Creative Cloud</li>
  <li>Customer Service</li>
</ul>
