<img src="/images/contact/contact_profile.jpg" alt="Mustafa Kalash" />
<h1>Mustafa Kalash</h1>
<h2>Developer, engineer, teacher</h2>
<p>
  My digital business card, should one need it. Find me at the links below.
</p>
<p class="links">
  <a href="https://www.linkedin.com/in/mkalash/" target="_blank"><fa-icon [icon]="['fab', 'linkedin']" /></a>
  <a href="https://github.com/mustafakalash" target="_blank"><fa-icon [icon]="['fab', 'github']" /></a>
  <a href="mailto:{{email}}" target="_blank"><fa-icon [icon]="['fas', 'envelope']" /></a>
</p>
