<h1>Building minds, software, and solutions.</h1>
<h2>Mustafa Kalash is <strong [class.rotateIn]="rotateIn" [class.fadeOut]="fadeOut">{{textRotation}}</strong></h2>
<p>
  I have 10 years of experience in <strong>Computer Science</strong> education and software development. Through my diverse background,
  in both who I am and what I&#39;ve done, I have developed a unique perspective on <strong>education</strong> and <strong>technology</strong>.
</p>
<button routerLink="/about">Learn more</button>
